# 带你飞（数据处理案例） 
  
        有人说一个分析项目 80%的工作量都是在清洗数据，这听起来有些匪夷所思，但在实际 的工作中确实如此。数据清洗的目的有两个，第一是通过清洗让数据可用；第二是让数据变 的更适合后续的分析工作。无论是线下人工填写的手工表，还是线上通过工具收集到的数据， 又或者是系统中导出的数据，很多数据源都有一些这样或者那样的问题。例如：数据中的重 复值，异常值，空值，以及多余的空格等问题。下面咱们就数据处理看以下案例。 
        现有下列数据如表 2-6 所示，请帮助处理下列两种情况： 


                                  表 2-6 学习成绩 
               学号 姓名 性别 英语 体育 军训 数分 高代 解几 
        2308024241 成龙   男  76  78   77   40   23 60 
        2308024244 周怡   女  66  91   75   47   47 44 
        2308024251 张波   男  85  81   75   45   45 60 
        2308024249 朱浩   男  65  50   80   72   62 71 
        2308024219 封印   女  73  88   92   61   47 46 
        2308024201 迟培   男  60  50   89   71   76 71 
        2308024347 李华   女  67  61   84   61   65 78 
        2308024307 陈田   男  76  79   86   69   40 69 
        2308024326 余皓   男  66  67   85   65   61 71 
        2308024320 李嘉   女  62 作弊  90   60   67 77 
        2308024342 李上初 男  76  90   84   60   66 60 
        2308024310 郭窦   女  79  67   84   64   64 79 
        2308024435 姜毅涛 男  77  71  缺考   61   73 76 
        2308024432 赵宇   男  74  74   88   68   70 71 
        2308024446 周路   女  76  80        61   74 80 
        2308024421 林建祥 男  72  72   81   63   90 75 
        2308024433 李大强 男  79  76   77   78   70 70 
        2308024428 李侧通 男  64  96   91   69   60 77 
        2308024402 王慧   女  73  74   93   70   71 75 
        2308024422 李晓亮 男  85  60   85   72   72 83 
        2308024201 迟培   男  60  50   89   71   76 71 
  
  
        1、将数据表添加两列：各科成绩总分(score)和每位同学的整体情况（类别），类别按 照[df.score.min()-1,400,450,df.score.max()+1]分为"一般","较好","优秀"三种情况。 
        2、由于“军训”这门课程的成绩与其它科目成绩差异较大，并且给分较为随意，为了避免评定奖学金的不公平，请将各科成绩标准化，再汇总，并标出"一般","较好","优秀"三种 类别。    
        
## 问题一的处理过程：  

### 1）数据处理。  
导入数据，并查看数据的“形状”。

In [1]:
import pandas as pd 
df = pd.read_excel(r'c:\Users\yubg\OneDrive\2018book\rz.xlsx') 
df.shape  #查看数据的“形状”（21 行 10 列）

(21, 10)

### 2）对数据进行查重

In [2]:
df.duplicated().tail()          #第二次及其以后出现的均显示为重复，咱们取后 5行 ）

16    False
17    False
18    False
19    False
20     True
dtype: bool

In [3]:
df[df.duplicated()]             #显示重复的行

            学号        班级  姓名 性别  英语  体育  军训  数分  高代  解几
20  2308024201  23080242  迟培  男  60  50  89  71  76  71

In [4]:
df1 = df.drop_duplicates()      #删除重复数据行  
df1.shape                       #查看数据的“形状”

(20, 10)

### 3）查看为空的数据，并以 0 填充  

由于 isnull()筛选空值后返回的是逻辑真假矩阵，如果数据庞大很难发现空数据的位置， 所以要显示缺失值的位置，再进行填充。

In [5]:
df.isnull().tail()  #查看空值返回的是逻辑真假数据矩阵，为了显示方便取后 5行。很难发现空值的位置

       学号     班级     姓名     性别     英语     体育     军训     数分     高代     解几
16  False  False  False  False  False  False  False  False  False  False
17  False  False  False  False  False  False  False  False  False  False
18  False  False  False  False  False  False  False  False  False  False
19  False  False  False  False  False  False  False  False  False  False
20  False  False  False  False  False  False  False  False  False  False

In [6]:
df1.isnull().any()    #判断哪些列存在缺失值。很轻易的发现哪些列有空值，缩小了范围，

学号    False
班级    False
姓名    False
性别    False
英语    False
体育    False
军训     True
数分    False
高代    False
解几    False
dtype: bool

In [7]:
df1[df1.isnull().values==True]    #显示存在缺失值的行 ,进一步确定空置的位置

            学号        班级  姓名 性别  英语  体育   军训  数分  高代  解几
14  2308024446  23080244  周路  女  76  80  NaN  61  74  80

In [8]:
df2 = df1.fillna(0)  #将空数据填充为 0  
df2.tail(8)        #查看后 8 行数据

            学号        班级   姓名 性别  英语  体育  军训  数分  高代  解几
12  2308024435  23080244  姜毅涛  男  77  71  缺考  61  73  76
13  2308024432  23080244   赵宇  男  74  74  88  68  70  71
14  2308024446  23080244   周路  女  76  80   0  61  74  80
15  2308024421  23080244  林建祥  男  72  72  81  63  90  75
16  2308024433  23080244  李大强  男  79  76  77  78  70  70
17  2308024428  23080244  李侧通  男  64  96  91  69  60  77
18  2308024402  23080244   王慧  女  73  74  93  70  71  75
19  2308024422  23080244  李晓亮  男  85  60  85  72  72  83

### 4) 处理数据中的空格。  

空格会影响我们后续数据的统计和计算。  
去除空格的方法有三种：  
>第一种是单独去除数据右边的空格（rstrip）；  
>第二种是单独去除数据左边的空格（lstrip）；  
>第三种是去除数据两边的空格（strip）。

In [9]:
df0 = df2.copy()   #为了数据安全，拷贝一份再操作。
df0['解几'] = df2['解几'].astype(str).map(str.strip)  #其它列可以同样操作 ，但请先转化数据格式为str

#### 说明：为了数据安全，请保备份好原数据。拷贝数据时要注意“真”拷贝。

   >df0=df2[:]  #这是备份数据的一种方法，可以查看修改df0时df2是否会改变  
   >df0.columns = ['xuehaoid','grade','name','sex','english','gym','train','shufen','gaodai','jieji']   #重命名表头  
   >df0  
   >df2  
   
   也可以通过查看df0和df2的内存地址：
   > id(df0)  
   > id(df2)  
   
### 5）查看列数据类型  

查看数据框各列中的数据类型是否是 int，若不是则需要处理。对于有数据不一致类型的列，找出该列，以进一步对此列数据进行处理。

In [10]:
for i in list(df0.columns):
    if df0[i].dtype=='O':  #若某列全部是 int 则显示该列为 int 类型，否则为 object 
        print(i)           #结果显示姓名、性别、体育、军训、解几 5 列数据不是 int

姓名
性别
体育
军训
解几

 “姓名、性别、体育、军训、解几”5 列数据不是 int 格式，分析其原因：  
  ⅰ. “解几”列不是 int 格式，是因为前面处理空格时进行了格式转化为 str，所以“解几”列 只需要整体转换为 int 即可；   
  ⅱ. “姓名”“性别”两列都是 str，后续不参加运算，所以无需转化，不需要处理；   
  ⅲ.查看“体育”“军训”两列数据格式，发现数据不是 int 格式，df['体育']、df['军训']查看数 据发现中包含了“作弊”和“缺考”，所以需要把数据用 0 替换。

In [11]:
df0['解几'].dtype                #查看“解几”的数据类型：object 或 O

dtype('O')

In [12]:
df0['解几']= df2['解几'].astype(int)     #“解几”列转换成 int 
df0['解几'].dtype                #查看“解几”的数据类型：int

dtype('int32')

### 6）以 0 填充非 int 型数据  

以“体育”列为例，将“体育”列中的值进行遍历，若不是 int 格式就替换为 0，并显示其行 号。

In [13]:
ty=list(df0.体育)         #将“体育”列中的数据做成列表 
j=0 
for i in ty:           
    if type(i) != int:    #判断“体育”列中的数据是否均为 int 格式
        print('第'+str(ty.index(i))+'行有非 int 数据：',i) #打印非 int 值及其行号
        ty[j]=0         #将 0替换该非 int 格式的值
    j =j+1

第9行有非 int 数据： 作弊

In [14]:
ty  #查看 index=9 的行数据“作弊”是否替换成了 0

[78, 91, 81, 50, 88, 50, 61, 79, 67, 0, 90, 67, 71, 74, 80, 72, 76, 96, 74, 60]

In [15]:
df0['体育'] = ty         #再将替换过的 ty 放回原 df0列中 
 
jx=list(df0.军训)     #对“军训”列同“体育”列同样的方法处理 
k=0 
for i in jx:
    if type(i) != int:    #判断“军训”列中的数据是否均为 int 格式
        print('第'+str(jx.index(i))+'行有非 int 数据：',i) #打印非 int 值及其行号
        jx[k]=0         #将 0替换该非 int 格式的值
    k =k+1

第12行有非 int 数据： 缺考

In [16]:
df0['军训'] = jx         #再将替换过的 list 放回原 df0 列中 
df0

            学号        班级   姓名 性别  英语  体育  军训  数分  高代  解几
0   2308024241  23080242   成龙  男  76  78  77  40  23  60
1   2308024244  23080242   周怡  女  66  91  75  47  47  44
2   2308024251  23080242   张波  男  85  81  75  45  45  60
3   2308024249  23080242   朱浩  男  65  50  80  72  62  71
4   2308024219  23080242   封印  女  73  88  92  61  47  46
5   2308024201  23080242   迟培  男  60  50  89  71  76  71
6   2308024347  23080243   李华  女  67  61  84  61  65  78
7   2308024307  23080243   陈田  男  76  79  86  69  40  69
8   2308024326  23080243   余皓  男  66  67  85  65  61  71
9   2308024320  23080243   李嘉  女  62   0  90  60  67  77
10  2308024342  23080243  李上初  男  76  90  84  60  66  60
11  2308024310  23080243   郭窦  女  79  67  84  64  64  79
12  2308024435  23080244  姜毅涛  男  77  71   0  61  73  76
13  2308024432  23080244   赵宇  男  74  74  88  68  70  71
14  2308024446  23080244   周路  女  76  80   0  61  74  80
15  2308024421  23080244  林建祥  男  72  72  81  63  90  75
16  2308024433  23080244  李大强  男  79  76  77  78  70  70
17  2308024428  23080244  李侧通  男  64  96  91  69  60  77
18  2308024402  23080244   王慧  女  73  74  93  70  71  75
19  2308024422  23080244  李晓亮  男  85  60  85  72  72  83

###### 说明：  
    当然这里数据量小，一眼就能发现“作弊”和“缺考”，这种情况可以使用下面方式 处理：  
                                 df.replace({'体育':'作弊','军训':'缺考'},0) 
    但是更多的时候数据庞大，无法肉眼看到，所以还得使用前面的方法处理。 


### 7) 问题 1 的处理   

    将数据表添加两列：各科成绩总分(score)和每位同学的整体情况（类别），类别按照[df.score.min()-1,400,450,df.score.max()+1]分为"一般","较好","优秀"三种情况。 


下面可以对该数据框进行统计。先计算每位同学的总分，再排出优良中差。

In [17]:
df3 = df0.copy()        #为了方便问题 2，复制一份 df0 
df3['score']=df3.英语 + df3.体育 + df3.军训 + df3.数分 + df3.高代 + df3.解几
df3.score.describe()    #查看 score 最大最小值以及总记录等，后面再详细了解

count     20.000000
mean     413.250000
std       36.230076
min      354.000000
25%      386.000000
50%      416.500000
75%      446.250000
max      457.000000
Name: score, dtype: float64

##### 数据中的行合并计算为score也可以使用如下的方法：
   >from pandas import DataFrame  
   >import pandas as pd  
   >import numpy as np  
   >df8=df0.iloc[:,4:]           #将4-9列重新做成一个数据框  
   >df8  
 

   >df8['score']=df8.sum(axis=1)      #行统计，增加一列行小计：score  
   >df8  
 
   
    >df8.loc['合计']=df8.sum()        #增加一行为列小计：合计  
    >df8

In [18]:
bins=[df3.score.min()-1,400,450,df3.score.max()+1]   #分组的区域划分 
label=["一般","较好","优秀"]                          #各组的标签 
df4=pd.cut(df3.score,bins,right=False,labels=label)  #数据分组 
df3['类别']=df4                                      #在 df3 中增加一列“类别”赋值 df4 
df3

            学号        班级   姓名 性别  英语  体育  军训  数分  高代  解几  score  类别
0   2308024241  23080242   成龙  男  76  78  77  40  23  60    354  一般
1   2308024244  23080242   周怡  女  66  91  75  47  47  44    370  一般
2   2308024251  23080242   张波  男  85  81  75  45  45  60    391  一般
3   2308024249  23080242   朱浩  男  65  50  80  72  62  71    400  较好
4   2308024219  23080242   封印  女  73  88  92  61  47  46    407  较好
5   2308024201  23080242   迟培  男  60  50  89  71  76  71    417  较好
6   2308024347  23080243   李华  女  67  61  84  61  65  78    416  较好
7   2308024307  23080243   陈田  男  76  79  86  69  40  69    419  较好
8   2308024326  23080243   余皓  男  66  67  85  65  61  71    415  较好
9   2308024320  23080243   李嘉  女  62   0  90  60  67  77    356  一般
10  2308024342  23080243  李上初  男  76  90  84  60  66  60    436  较好
11  2308024310  23080243   郭窦  女  79  67  84  64  64  79    437  较好
12  2308024435  23080244  姜毅涛  男  77  71   0  61  73  76    358  一般
13  2308024432  23080244   赵宇  男  74  74  88  68  70  71    445  较好
14  2308024446  23080244   周路  女  76  80   0  61  74  80    371  一般
15  2308024421  23080244  林建祥  男  72  72  81  63  90  75    453  优秀
16  2308024433  23080244  李大强  男  79  76  77  78  70  70    450  优秀
17  2308024428  23080244  李侧通  男  64  96  91  69  60  77    457  优秀
18  2308024402  23080244   王慧  女  73  74  93  70  71  75    456  优秀
19  2308024422  23080244  李晓亮  男  85  60  85  72  72  83    457  优秀

### 8）问题 2 的处理  

基于问题 1 的方法，主要是把清洗干净的数据 df0 每列数据进行标准化，之后继续使用 问题 1 的方法即可。

In [19]:
for i in list(df0.columns[4:]):
    df0[i] = (df0[i]-df0[i].min())/(df0[i].max()-df0[i].min()) 
df0.tail()

,学号,班级,姓名,性别,英语,体育,军训,数分,高代,解几
15,2308024421,23080244,林建祥,男,0.48,0.750000,0.870968,0.605263,1.000000,0.794872
16,2308024433,23080244,李大强,男,0.76,0.791667,0.827957,1.000000,0.701493,0.666667
17,2308024428,23080244,李侧通,男,0.16,1.000000,0.978495,0.763158,0.552239,0.846154
18,2308024402,23080244,王慧,女,0.52,0.770833,1.000000,0.789474,0.716418,0.794872
19,2308024422,23080244,李晓亮,男,1.00,0.625000,0.913978,0.842105,0.731343,1.000000

In [20]:
df0['score']= df0.英语 + df0.体育 + df0.军训 + df0.数分 + df0.高代 + df0.解几 
df0.score.describe()    #查看 score 最大最小值以及总记录数等

count    20.000000
mean      3.892161
std       0.668808
min       2.536788
25%       3.534346
50%       3.823450
75%       4.431060
max       5.112427
Name: score, dtype: float64

In [21]:
bins=[df0.score.min()-1,3,4,df0.score.max()+1] 
label=["一般","较好","优秀"] 
df_0=pd.cut(df0.score,bins,right=False,labels=label) 
df0['类别']=df_0 #在 df0 中增加一列“类别”赋值 df_0 
df0

,学号,班级,姓名,性别,英语,体育,军训,数分,高代,解几,score,类别
0,2308024241,23080242,成龙,男,0.64,0.812500,0.827957,0.000000,0.000000,0.410256,2.690713,一般
1,2308024244,23080242,周怡,女,0.24,0.947917,0.806452,0.184211,0.358209,0.000000,2.536788,一般
2,2308024251,23080242,张波,男,1.00,0.843750,0.806452,0.131579,0.328358,0.410256,3.520395,较好
3,2308024249,23080242,朱浩,男,0.20,0.520833,0.860215,0.842105,0.582090,0.692308,3.697551,较好
4,2308024219,23080242,封印,女,0.52,0.916667,0.989247,0.552632,0.358209,0.051282,3.388037,较好
5,2308024201,23080242,迟培,男,0.00,0.520833,0.956989,0.815789,0.791045,0.692308,3.776965,较好
6,2308024347,23080243,李华,女,0.28,0.635417,0.903226,0.552632,0.626866,0.871795,3.869935,较好
7,2308024307,23080243,陈田,男,0.64,0.822917,0.924731,0.763158,0.253731,0.641026,4.045563,优秀
8,2308024326,23080243,余皓,男,0.24,0.697917,0.913978,0.657895,0.567164,0.692308,3.769262,较好
9,2308024320,23080243,李嘉,女,0.08,0.000000,0.967742,0.526316,0.656716,0.846154,3.076928,较好
10,2308024342,23080243,李上初,男,0.64,0.937500,0.903226,0.526316,0.641791,0.410256,4.059089,优秀
11,2308024310,23080243,郭窦,女,0.76,0.697917,0.903226,0.631579,0.611940,0.897436,4.502098,优秀
12,2308024435,23080244,姜毅涛,男,0.68,0.739583,0.000000,0.552632,0.746269,0.820513,3.538996,较好
13,2308024432,23080244,赵宇,男,0.56,0.770833,0.946237,0.736842,0.701493,0.692308,4.407712,优秀
14,2308024446,23080244,周路,女,0.64,0.833333,0.000000,0.552632,0.761194,0.923077,3.710236,较好
15,2308024421,23080244,林建祥,男,0.48,0.750000,0.870968,0.605263,1.000000,0.794872,4.501103,优秀
16,2308024433,23080244,李大强,男,0.76,0.791667,0.827957,1.000000,0.701493,0.666667,4.747783,优秀
17,2308024428,23080244,李侧通,男,0.16,1.000000,0.978495,0.763158,0.552239,0.846154,4.300045,优秀
18,2308024402,23080244,王慧,女,0.52,0.770833,1.000000,0.789474,0.716418,0.794872,4.591597,优秀
19,2308024422,23080244,李晓亮,男,1.00,0.625000,0.913978,0.842105,0.731343,1.000000,5.112427,优秀